*{
    margin : 0;
    font-family: 'Open Sans';
    font-style: normal;
}

section{
    display: flex;
    justify-content: center;
}

section > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

span {
    font-size: 4em;
    color: #fff;
}



.section1 {
    background-color: #7DBCD4;
}

.section1 span{
    font-size: 6em;
    margin-bottom: 100px;
}

#subtitle {
    font-size: 20px;
}



.section2 {
    background-color: #98C19F; 
}

.section2 div{

}

.section2 div span{
    font-size: 6em;
    margin-bottom: 100px;
}

#onlyol{
    font-size: 1.8em;
    font-weight: bold;
    width: 20vw;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}




.section3 {
    background-color:  #A199E2;
}

.section3 span{

}

.section3 span, #section3_img1{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#section3_img1{
    width: 700px;
    height: 350px;
    margin : 0 auto;
    border-radius: 10px;
}



.section4 {
    background-color:  #0caee0;
}

.section4 span{

}

.section4 span, #section4_img1, #section4_img2{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#section4_img1{
    width: 400px;
    height: 200px;
    margin : 0 auto;
    border-radius: 10px;
}

#section4_img2{
    width: 200px;
    height: 400px;
    margin : 0 auto;
    border-radius: 10px;
}


.section5 {
    background-color:  #c7d2d8;
}
        
.section5 span{

}

.section5 span, #section5_img1, #section5_img2{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#section5_img1{
    width: 400px;
    height: 200px;
    margin : 0 auto;
    border-radius: 10px;
}

#section5_img2{
    width: 450px;
    height: 300px;
    margin : 0 auto;
    border-radius: 10px;
}




.section6 {
    background-color:  #ffbb1c;
}
        
.section6 span{

}

.section6 span, #section6_img1, #section6_img2{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#section6_img1{
    width: 400px;
    height: 200px;
    margin : 0 auto;
    border-radius: 10px;
}

#section6_img2{
    width: 450px;
    height: 300px;
    margin : 0 auto;
    border-radius: 10px;
}


.section7 {
    background-color:  black;
}
    

.section7 span{
    font-size: 6em;
    opacity: 0;
    transition: visibility 0s, opacity 2s linear;
}
